<div class="row">
  <div class="col-md-6">
    <h2><%= @facility.name %></h2>
    <p><%= @facility.town %>, <%= @facility.district %> District, <%= @facility.region %> Region</p>
    <div id="phoneWebsite"></div>
  </div>

  <div class="col-md-3 col-md-offset-3" style="margin-top: 25px;">
    <h5 id="stars">2.5 <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></h5>
    <p><%= @facility.category %></p>
  </div>
</div>

<div class="row">
  <div id="show_map" class="well col-md-12"></div>
</div>

<p id="facility_id" style="display: none;"><%= @facility.id %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Reviews</h3>
    <table class="table">
      <tr>
        <th>Rating</th>
        <th>Comments</th>
        <th>Rater</th>
      </tr>
      <tr>
        <td>4 Stars</td>
        <td>This clinic is better than most.  The doctor was nice and on time.</td>
        <td>Kofi C.</td>
      </tr>
    </table>
  </div>
</div>

<footer class="col-md-12 text-center">
<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
</footer>