<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @review.doctor_id %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @review.facility_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
